<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh Toán Thành Công</title>
    <link rel="stylesheet" href="/css/paymentsuccess.css">
</head>
<body>
    <div class="all">
        <div>
            <h1>Đơn hàng của bạn đã thanh toán thành công</h1>
            <h2>Vui lòng kiểm tra thông báo email</h2>
            <h3>Click vào nút bên dưới để quay trở về trang chủ</h3>
        </div>
        <div>
            <form action="/">
                <button type="submit">Trang chủ</button>
            </form>
        </div>
    </div>
</body>
</html>